*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 1vw; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(0.1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 4rem; }

.u-highlight-green {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 0%;
  background-color: #1b9b70dc;
  opacity: 80%;
  z-index: -1;
  transition: height 0.3s ease; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: #757575;
  padding: 1rem; }

.header {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .header__greeting-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__greeting-heading--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2.1rem;
    animation: moveInLeft 1s ease-out; }
  .header__greeting-heading--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.9rem;
    animation: moveInRight 1s ease-in; }

.header-primary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #1b9b70dc, #0065b8c6);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .header-primary:hover {
    transform: skewY(3deg) skewX(15deg); }

.header-primary-sub {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.about-paragraph {
  font-size: 1rem; }
  .about-paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.section-about {
  background-color: #cecece20;
  padding-top: 25rem;
  padding-bottom: 10rem;
  margin-top: -25rem; }

.section-tours {
  background-color: #cecece20;
  padding-bottom: 5rem; }

.section-reviews {
  padding: 5rem 0;
  position: relative; }

.section-subscription {
  padding: 5rem 0;
  background-image: linear-gradient(to top, rgba(23, 67, 118, 0.5), rgba(86, 176, 250, 0.7)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(27, 155, 112, 0.7), rgba(0, 101, 184, 0.5)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 2rem; }
  .header__logo {
    height: 5rem;
    width: 5rem; }

.row {
  margin: 0 auto;
  max-width: 80rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col1 {
    width: calc((100% - 2rem) / 2);
    float: left; }
    .row .col1:not(:last-child) {
      margin-right: 2rem; }
  .row .col2 {
    width: calc((100% - 2 * 2rem) / 3);
    float: left; }
    .row .col2:not(:last-child) {
      margin-right: 2rem; }

.footer {
  background-color: #cecece20;
  padding: 2rem 0;
  font-size: 1rem;
  text-align: center; }
  .footer__logo-box {
    padding: 1rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    padding-right: 1rem; }
  .footer__link:link, .footer__link:visited {
    color: #56b0fa;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #757575;
    transform: rotate(2deg) scale(1.2);
    transition: transform 0.3s ease; }
  .footer__navigation {
    border-top: 1px solid #757575; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem #757575;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer; }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-image: radial-gradient(#56b0fa, #00fea1);
  z-index: 1000;
  transform: scale(0);
  transition: all 0.5s; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 0%;
  opacity: 0;
  transition: all 0.6s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2500;
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  display: block;
  margin: 3rem; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 250;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5rem 1.5rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all 0.5s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #56b0fa;
  font-weight: 250; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-left: 1rem;
  margin-top: 1.9rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #757575;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -0.7rem; }
  .navigation__icon::after {
    top: 0.7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.popup {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transform: all 0.3s ease; }
  .popup:target {
    opacity: 100%;
    visibility: visible; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    border-radius: 3px;
    display: table;
    overflow: hidden; }
  .popup__left {
    width: 33.333%;
    display: table-cell;
    vertical-align: middle; }
  .popup__right {
    width: 66.666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    width: 100%;
    font-size: 1rem;
    padding-bottom: 1rem;
    column-gap: 2rem;
    column-count: 2; }
  .popup__close {
    transform: all 0.3s; }
    .popup__close:link, .popup__close:visited {
      color: #007204;
      position: absolute;
      top: 0;
      right: 2rem;
      font-size: 3rem;
      text-decoration: none; }
    .popup__close:hover {
      transform: scale(1.2); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1rem;
  position: relative;
  border: none;
  cursor: pointer; }

.btn--white {
  background-color: #fff;
  color: #757575; }
  .btn--white::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text {
  position: relative; }
  .btn-text:link, .btn-text:visited {
    color: #0065b8c6;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #1b9b70dc;
    padding: 3px;
    transition: all 0.2s; }
  .btn-text:hover .u-highlight-green {
    height: 40%; }

.composition {
  position: relative; }
  .composition__photo {
    width: 80%;
    box-shadow: 0 2.5rem 4 rem #757575;
    position: absolute; }
    .composition__photo--p1 {
      top: 0rem;
      left: 0rem; }
    .composition__photo--p2 {
      top: 7rem;
      left: 10rem; }
    .composition__photo--p3 {
      top: 20rem;
      left: 4rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      padding: 8px;
      background: linear-gradient(to right, #1b9b70dc, #0065b8c6); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem;
  position: relative; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2rem #757575;
    transition: all 0.8s ease; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to top, #ff8732, red); }
      .card__side--back-2 {
        background-image: linear-gradient(to top, #56b0fa, #174376); }
      .card__side--back-3 {
        background-image: linear-gradient(to top, #00fea1, #007204); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 50%;
    background-size: cover;
    background-blend-mode: color;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to top, #ff8732, red), url(../../img/about-photo-1.png); }
    .card__picture--2 {
      background-image: linear-gradient(to top, #56b0fa, #174376), url(../../img/about-photo-2.png); }
    .card__picture--3 {
      background-image: linear-gradient(to top, #00fea1, #007204), url(../../img/about-photo-3.png); }
  .card__heading {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    height: auto;
    top: 3rem;
    right: 1rem;
    text-align: right; }
    .card__heading-span {
      padding: 0.6rem 0.7rem; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0.99), rgba(255, 135, 50, 0.01)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right, rgba(23, 67, 118, 0.99), rgba(86, 176, 250, 0.01)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right, rgba(0, 114, 4, 0.99), rgba(0, 254, 161, 0.01)); }
  .card__details ul {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    padding-inline-start: 0px; }
    .card__details ul li {
      text-align: center;
      font-size: 1.4rem;
      padding: 0.2rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #757575; }
  .card__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    color: #fff; }
  .card__price-main {
    font-size: 2rem; }
  .card__price-sub {
    font-size: 3rem;
    font-weight: 250;
    padding: 2rem;
    text-transform: uppercase; }

.review {
  width: 75%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 3rem;
  font-size: 1rem;
  transform: skew(-12deg); }
  .review > * {
    transform: skew(12deg); }
  .review__icon {
    float: left;
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
  .review__img {
    width: 100%;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .review:hover .review__img {
    filter: blur(3px) brightness(80%);
    transform: scale(1.2); }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    backface-visibility: hidden;
    transition: all 0.5s;
    opacity: 0; }
  .review:hover .review__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .review__text {
    transform: skewX(12deg); }

.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.subscription {
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 40%), url(../../img/about-photo-2.png);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 0.5rem 3rem rgba(23, 67, 118, 0.5);
  height: 40rem;
  position: relative; }
  .subscription__form {
    position: absolute;
    left: 50%;
    width: 40%;
    padding: 4rem; }

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: #b0b0b0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid #757575;
  width: 90%;
  height: 2.5rem;
  padding-left: 0.5rem;
  display: block; }
  .form__input::-webkit-input-placeholder {
    color: #757575; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(117, 117, 117, 0.2);
    border-bottom: 3px solid #56b0fa; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }

.form__label {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
  display: block;
  margin-bottom: 2rem;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: -4rem; }

.form__checkbox-group {
  display: inline-block;
  padding-bottom: 3rem; }

.form__checkbox-label {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem; }

.form__checkbox-input {
  display: none; }

.form__checkbox-button {
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  left: 0rem;
  top: 0rem;
  border: 2px solid #0065b8c6;
  border-radius: 50%; }
  .form__checkbox-button::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0065b8c6;
    opacity: 0;
    transition: opacity 0.2s; }

.form__checkbox-input:checked ~ .form__checkbox-label .form__checkbox-button::after {
  opacity: 1; }

.form__submit {
  background-color: #0065b8c6;
  color: #fff; }
