@import "../abstracts/variables";

.footer {
  background-color: $color-grey-light-1;
  padding: 2rem 0;
  font-size: 1rem;
  text-align: center;
  &__logo-box {
    padding: 1rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding-right: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-blue-light;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-grey-dark;
      transform: rotate(2deg) scale(1.2);
      transition: transform 0.3s ease;
    }
  }

  &__navigation {
    border-top: 1px solid $color-grey-dark;
  }
}
