@import "../abstracts/variables";

.row {
  margin: 0 auto;
  max-width: $grid-width;

  // Clearfix
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:not(:last-child) {
    margin-bottom: $grid-gutter-vertical;
  }

  .col1 {
    width: calc((100% - #{$grid-gutter-horizontal}) / 2);
    &:not(:last-child) {
      margin-right: $grid-gutter-horizontal;
    }
    float: left;
  }

  .col2 {
    width: calc((100% - 2 * #{$grid-gutter-horizontal}) / 3);
    &:not(:last-child) {
      margin-right: $grid-gutter-horizontal;
    }
    float: left;
  }
}
