.composition {
  position: relative;

  &__photo {
    width: 80%;
    box-shadow: 0 2.5rem 4rem $color-grey-dark;
    position: absolute;

    @include respond(tab-port) {
     width: 60%;
    }
    &--p1 {
      top: 0rem;
      left: 3rem;
    }

    &--p2 {
      top: 7rem;
      left: 12rem;
    }

    &--p3 {
      top: 22rem;
      left: 4rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: $composition-photo-hover;
      padding: 8px;
      background: linear-gradient(
        to right,
        $color-primary-green,
        $color-primary-blue
      );
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
